/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Container */
  .todo-container {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    animation: fadeIn 0.5s ease-in-out;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    margin: 0 auto;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Title */
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Date */
  p {
    text-align: center;
    color: #666;
    margin-top: 0;
    font-size: 14px;
  }
  
  /* Input Container */
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[disabled] {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  button:hover:not([disabled]) {
    background-color: #0056b3;
  }
  
  /* No Tasks */
  .no-tasks {
    text-align: center;
    color: #999;
    font-style: italic;
  }
  
  /* Remove All Container */
  .remove-all-container {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .remove-all-button {
    background-color: #dc3545;
    transition: background-color 0.3s ease;
  }
  
  .remove-all-button:hover {
    background-color: #c82333;
  }
  
  /* Task List */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.3s ease-out;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .task-item .remove-button {
    background-color: #dc3545;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .task-item .remove-button:hover {
    background-color: #c82333;
  }
  