<div class="todo-container">
  <h1>{{ title }}</h1>
  <p>{{ currentDate }}</p>

  <div class="input-container">
    <input [(ngModel)]="newTask" placeholder="Enter a task">
    <button [disabled]="!newTask" (click)="addTask()">Add Task</button>
  </div>
  
  <p class="no-tasks" *ngIf="tasks.length === 0">No tasks available.</p>
  
  <div *ngIf="tasks.length !== 0" class="remove-all-container">
    <button class="remove-all-button" (click)="removeAllTask()">Remove All Tasks</button>
  </div>
  
  <ul>
    <li *ngFor="let task of tasks" class="task-item">
      {{ task }}
      <button class="remove-button" (click)="removeTask(task)">Remove</button>
    </li>
  </ul>
</div>
